/* style.css file */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calc_head {
    text-align: center;
    color: rgb(137, 213, 93);
    margin-bottom: 50px;
}

.calculator {
    text-align: center;
    padding: 80px;
    border: 1px solid #7ac1e2;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid rgb(44, 231, 128);
}

#output {
    font-size: 1vw;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}
